# local package
-e .

# external requirements
torch
torchvision
pytorch-lightning
hydra-core
hydra-joblib-launcher 
optuna
optuna-dashboard
hydra-optuna-sweeper 

matplotlib
seaborn
ipykernel
snakeviz
tqdm
sklearn
