# local package
-e .

# external requirements
sklearn
ipykernel
tqdm
matplotlib
seaborn
snakeviz

torch
torchvision
pytorch-lightning
optuna
optuna-dashboard
hydra-core
hydra-joblib-launcher 
hydra-optuna-sweeper 

